html {
    word-break: break-all;
    font-family: 'Noto Sans', sans-serif;
}
.dis-footer{
    padding-left:100px;
}
.edit{
    padding:10px;
}
.arr{
    padding:10px;
}
.info-box h3:hover {
    color: #72c393
}
.bor{
    border-radius: 20px
}
.zoom:hover{
    transform:scale(1.1);
}
.button {
    background: #4eb478;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin-top: 10px;
    color: white;
}
.button:hover {
    background-color: #45a36c
}
btn-alter {
    background-color: #ff1c1c;
    color:white;
    width:100%;
}
.mydiv {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; 
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding-top:10px;
    border-radius:5px;
}
.word{
    word-break:break-word;
}
.nut {
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: red;
    border-radius: 5px;
    color:white;
}
.nut:hover {
    color: white;
    background-color: #b51b1b;
}
.imgsize{
    height:100px;
}
.exclamark {
    color: red;
    position: absolute;
    top: 22px;
    right: 16px;
    height: 50px;
    width: 50px
}
.mobile-login{
    display:none;
}
/* Responsive Mobile*/
@media (max-device-width:740px) and (-webkit-min-device-pixel-ratio: 2) {
    html {
        word-break: break-word;
        font-family: 'Noto Sans', sans-serif;
    }

    .cta h3 {
        font-size: 1.4rem;
    }

    .dis-footer {
        padding: 0 15px;
    }

    .mobile-login {
        display: block;
    }

    .container.py-4 {
        display: flex;
        flex-direction: column;
    }

    .safari {
        display: -webkit-flex;
        -webkit-flex-direction: column;
    }

    #footer {
        padding-bottom: 0;
    }

    .navbar-mobile ul li {
        transform: translate3d(0, 0, 0);
        position: relative;
        z-index: 10;
    }

    .dropdown {
        display: none;
    }

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 12px;
    }

    .navbar-mobile a {
        padding: 12px 20px;
        font-size: 16px;
        color: #444444;
        font-weight: 600;
    }

    .navbar-right{
        display:block;

    }
}