html {
    scroll-behavior: smooth;
    font-family: "Oxygen"
}
.flex{
    width: 100% !important
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3ca59d;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

#myBtn:hover {
    background-color: #555;
}

.color-btn {
    background-color: #3ca59d;
    border-color: #3ca59d;
}

.d-lg-block{
    padding:0
}

.mejs__controls,
.mejs__overlay-button,
.mejs__controls mejs__offscreen {
    display: none !important;
}