@model IEnumerable<SEPQuestionAnswer.Models.Category>

@{
    ViewBag.Title = "Index";
    
}
<head>
    <title>Category management</title>
</head>
<h2>Index</h2>

<div class="container pt-5 hero" style="margin-top: 20px">    
    <table class="table">
        <p>
            <a href="@Url.Action("Create")" class="btn btn-default">Create</a>
        </p>
        <tr>
            <th>
                Danh mục
            </th>
            <th>
                Disable
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("UpdateStatus", "Categories", new { id = item.ID})) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>                    
                        @Html.CheckBoxFor(modelItem => item.Status, new { onclick = "this.form.submit();" })
                    </td>
                    <td>                        
                        <a href="@Url.Action("Edit", new { id = item.ID})" class="btn btn-default">Edit</a>
                    </td>
                </tr>
            }
            
        }

    </table>
</div>