
@{
    ViewBag.Title = "Category";
}
            <!-- ======= Caterogy Section ======= -->
            <section id="category" class="contact">
                <div class="container">

                    <div class="section-title" data-aos="fade-down">
                        <span>Danh mục</span>
                        <h2>Danh mục</h2>
                    </div>

                    <div class="row">
                        <div  class="col-lg-3 col-md-12 arr" style="cursor:pointer;" onclick="window.location = '@Url.Action("Index", "Home")';"
                             data-aos="fade-up" data-aos-delay="100">
                            <div class="info-box bor zoom">
                                <h3>Đào tạo</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 arr" data-aos="fade-up" data-aos-delay="100">
                            <div class="info-box bor zoom">
                                <h3>Nghề nghiệp</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 arr" data-aos="fade-up" data-aos-delay="100">
                            <div class="info-box bor zoom">
                                <h3>Kiến thức</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 arr" data-aos="fade-up" data-aos-delay="100">
                            <div class="info-box bor zoom">
                                <h3>Bổ túc</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 arr" data-aos="fade-up" data-aos-delay="100">
                            <div class="info-box bor zoom">
                                <h3>Học phí của ngành CNTT</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 arr" data-aos="fade-up" data-aos-delay="100">
                            <div class="info-box bor zoom">
                                <h3>Our Address</h3>
                            </div>
                        </div>


                    </div>
                </div>
            </section><!-- End Category Section -->