
@{
    ViewBag.Title = "Category";
}
<div class="site-section">

    <div class="container">
        <h1 class="mb-4">All Categories</h1>
        <div class="row" id="category">
            <div class="col-lg-3">
                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    @*<img src="@Url.Content("~/asset/images/img_1.jpg")" alt="Image" class="image">*@
                    <div class="text flex">

                        <h3 class="font-weight-light"><a class="text-dark" href="single-post.html">Đào tạo</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        @*<div class="player">
                        <audio id="player2" preload="none" controls style="max-width: 100%">
                            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                        </audio>
                    </div>*@

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    @*<img src="@Url.Content("~/asset/images/img_1.jpg")" alt="Image" class="image">*@
                    <div class="text flex">

                        <h3 class="font-weight-light"><a href="single-post.html">Đào tạo</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        @*<div class="player">
                        <audio id="player2" preload="none" controls style="max-width: 100%">
                            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                        </audio>
                    </div>*@

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    @*<img src="@Url.Content("~/asset/images/img_1.jpg")" alt="Image" class="image">*@
                    <div class="text flex">

                        <h3 class="font-weight-light"><a href="single-post.html">Đào tạo</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        @*<div class="player">
                        <audio id="player2" preload="none" controls style="max-width: 100%">
                            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                        </audio>
                    </div>*@

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    @*<img src="@Url.Content("~/asset/images/img_5.jpg")" alt="Image" class="image">*@
                    <div class="text flex">

                        <h3 class="font-weight-light"><a href="single-post.html">Nghề nghiệp</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        @*<div class="player">
                        <audio id="player2" preload="none" controls style="max-width: 100%">
                            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                        </audio>
                    </div>*@
                    </div>
                </div>
            </div>

            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#" class="icon-keyboard_arrow_left"></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" class="icon-keyboard_arrow_right"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>