
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


        <div class="jumbotron jumbotron-fluid mydiv" >
            <div class="container">
                    <h1 class="display-4">Xin Lỗi</h1>
                    <i style="color: red; position: absolute; top: 15px; right: 16px; height: 50px; width: 50px" class="fas fa-exclamation-circle fa-3x"></i>
                <hr />
                <p class="lead word" style="color:black">Trang thuộc khoa CNTT, nếu bạn không phải sinh viên CNTT vui lòng quay lại sau. Cảm ơn bạn vì đã ghé thăm trang chúng tôi.</p>
                <a class="nut" href="@Url.Action("Index", "Home")">Quay lại</a>
            </div>
        </div>