@model IEnumerable<SEPQuestionAnswer.Models.Question>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Search</h2>

<p>
    <input type="text" id="Search" placeholder="Nhập câu hỏi" />
</p>
<table class="table" style="display: none">
    <tr>
        <th>
            Câu hỏi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                <a href="@Url.Action("Details", "Questions", new { id = item.ID})">@item.AskQuestion</a>
            </td>
            <td>
                Views: @item.CountView
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Search").keydown(function () {
            $(".table").show();
        });
    });
</script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>