@model IEnumerable<SEPQuestionAnswer.Models.Question>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Search</h2>

<p>
    <input type="text" id="Search" placeholder="Nhập câu hỏi" />
</p>
<table class="table" style="display: none">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AskQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td class="text1">
                @Html.DisplayFor(modelItem => item.AskQuestion)
            </td>
            <td>
                @Html.Raw(item.Answer)
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Search").keydown(function () {
            $(".table").show();
        });
    });
</script>
<script>
    $("#Search").keyup(function () {
        var searchText = $("#Search").val().toLowerCase();
        $(".Search").each(function () {
            var id = $(this).find("td:nth-child(1)").text();
            if (id.indexOf(searchText) !== 0 && id.toLowerCase().indexOf(searchText.toLowerCase()) < 0) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });
</script>
