@model SEPQuestionAnswer.Models.AspNetRole

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var role = ViewBag.Role;
    var user = ViewBag.User;
}

@*<h2>Delete</h2>*@

<h3>Bạn có muốn gỡ quyền @user khỏi @role?</h3>
<div>   
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>*@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xác nhận" class="btn btn-default" /> |
        <a href="@Url.Action("Index","AspNetRoles")">Hủy</a>
    </div>
    }
</div>
