@model SEPQuestionAnswer.Models.AspNetRole

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var role = ViewBag.Role;
    var user = ViewBag.User;
}


<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Bạn có muốn gỡ quyền <span style="color:brown">@user</span> khỏi @role?</h2>
                    </div>
                    <div class="body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                        <div>
                            @if (role == "Sinh Viên - Giảng Viên")
                            {
                                <input id="1" type="submit" value="Xác nhận" class="btn btn-primary waves-effect" />
                                <a href="@Url.Action("IndexSV","AspNetRoles")" class="btn btn-primary waves-effect">Hủy</a>
                            }
                            else
                            {
                                <input type="submit" value="Xác nhận" class="btn btn-primary waves-effect" />
                                <a href="@Url.Action("Index","AspNetRoles")" class="btn btn-primary waves-effect">Hủy</a>
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var check = document.getElementById('1');
    if (check != null) {
        document.querySelector('#item-4').setAttribute('class', 'active');
    } else {
        document.querySelector('#item-3').setAttribute('class', 'active');
    }
</script>
