@model SEPQuestionAnswer.Models.AspNetRole

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var role = ViewBag.Role;
    var user = ViewBag.User;
}


<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Bạn có muốn gỡ quyền <span style="color:brown">@user</span> khỏi @role?</h2>
                    </div>
                    <div class="body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                <input type="submit" value="Xác nhận" class="btn btn-primary waves-effect" />
                                <a href="@Url.Action("Index","AspNetRoles")" class="btn btn-primary waves-effect">Hủy</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
